# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
# .env
.env1
.env.*
!.env.example

# Secret files
assets/styles/123.css
assets/icons/1 sample.vue