/* Mobile && Tablet view */
@media screen and (max-width: 1023px) {
  /* Search button functionality */
  .mobile-search__container {
    height: 44px;
    width: 80%;

    position: absolute;
    top: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f0f0;
    border-radius: 1.5rem;
    /* overflow: hidden; */

    transform-origin: calc(100% - 70px) center;
    transform: scaleX(0);
  }
  .mobile-search__container .search-dropdown {
    position: relative;
    width: 90%;
  }
  .mobile-search__container .search-results {
    position: absolute;
    left: 0;
    top: 33px;

    width: 95%;
    background-color: rgb(226, 199, 199);

    border-radius: 1rem;
  }
  .mobile-search__container .search-input {
    width: 90%;
    margin-left: 0px;
    margin-right: 30px;
    background-color: #f0f0f0;
  }
  .mobile-search__container.active {
    animation: mobileSearchExpand;
    animation-duration: 0.2s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
  }

  .mobile-search__container.closed {
    animation: mobileSearchCollapse;
    animation-duration: 0.2s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
  }
  @keyframes mobileSearchExpand {
    0% {
      transform: scaleX(0);
    }
    100% {
      transform: scaleX(1);
    }
  }
  @keyframes mobileSearchCollapse {
    0% {
      transform: scaleX(1);
    }
    100% {
      transform: scaleX(0);
    }
  }
}

/* Burger menu block */
.BurgerMenu__dropdown {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 140;
  background-color: rgba(255, 255, 255, 0.97);
  width: 46vw;
  max-width: 300px;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;

  transform: translateX(-100%);
}
@keyframes dropdownSlideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes dropdownSlideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.BurgerMenu__dropdown.active {
  animation: dropdownSlideIn 0.3s ease-out forwards;
}
.BurgerMenu__dropdown.closed {
  animation: dropdownSlideOut 0.3s ease-out forwards;
}
.BurgerMenu__item {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
  text-align: center;
  padding: 8px 0;
  transition:
    color 0.3s,
    transform 0.3s;
}
.BurgerMenu__item:active {
  color: #007bff;
  transform: scale(1.05);
}

/* Animation on-load debug */
.BurgerMenu__dropdown.no-animation,
.mobile-search__container.no-animation {
  animation: none;
}

.top-menu__nav-item {
  display: flex;
  align-items: center;
}

.search-results {
  position: absolute;
  left: 0;
  top: 33px;

  width: 98%;
  padding: 10px;
  background-color: rgb(226, 199, 199);

  border-radius: 1rem;
}

.Step-back__arrow-container {
  width: 48px;
  height: 48px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: 0 0 2rem 0;
  transform: rotate(180deg);
}
.Step-back__arrow {
  position: absolute;
  right: 16px;
  bottom: 20px;
}
.Auth__Greetings {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.Auth__popup-btn {
  display: block;
  background-color: black;
  color: white;
  font-family: 'Satoshi-Regular';
  font-size: 26px;
  text-align: center;

  padding: 10px 30px;
  border-radius: 1rem;
}
.Auth__user-nickname {
  text-align: center;
  font-family: 'Satoshi-Bold';
  font-size: 40px;
  margin-bottom: 20px;
}
.Auth__user-avatar {
  width: 200px;
  border-radius: 50%;
  margin: 0 auto 30px auto;
}
.Auth-input {
  width: 100%;
  display: block;
  background-color: #f0f0f0;
  margin: auto auto 14px auto;
  border-radius: 16px;
  padding: 8px 20px;
}

.footer__section-title {
  margin-bottom: 26px;
}
.links__container {
  width: 360px;
  justify-content: space-evenly;
}
.links__block {
  width: 180px;
  padding-left: 10px;
}
.links__link {
  display: block;
  margin-top: 12px;
  font-family: 'Satoshi-Regular';
  color: rgba(0, 0, 0, 0.6);
}
