@media (max-width: 1100px) {
  /* Gallery */
  .item__gallery {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;

    width: 100%;
    max-height: 520px;
    gap: 10px;
  }
  .secondary-pictures {
    display: flex;
    flex-direction: row;
    gap: 10px;
    max-width: 100%;
  }
  .main-picture {
    max-width: 100%;
    max-height: 400px;
  }
  .item__main-picture {
    object-fit: contain;
    max-height: 400px;
  }
  .item__secondary-picture {
    object-fit: contain;
    max-width: 50%;
    max-height: 110px;
  }

  .item__interactive-menu {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1101px) {
  .top__section {
    display: flex;
    flex-direction: row;
  }

  /* Gallery */
  .item__gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 35%;
    max-height: 640px;
    gap: 10px;
  }
  .secondary-pictures {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 24%;
  }
  .main-picture {
    max-width: 76%;
  }
  .item__main-picture {
    object-fit: contain;
    max-height: 640px;
  }
  .item__secondary-picture {
    object-fit: contain;
    max-height: 207px;
  }
  .item__interactive-menu {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Breadcrumbs */
.path__breadcrumbs {
  display: flex;
}
.path__breadcrumb {
  display: flex;
}
.breadcrumb__pointer {
  display: inline-block;

  transform: rotate(-90deg);
  width: 12px;
  height: 12px;
}

/* Reviews */
.reviews__menu {
  display: flex;
}
.reviews__card {
  margin: 24px 16px auto 16px;
  padding: 24px;
  height: 180px;
  width: 340px;
  border-radius: 30px;
}

/* Gallery */
.item__main-picture {
  border-radius: 20px;
}
.item__secondary-picture {
  border-radius: 20px;
  cursor: pointer;
  border: 2px solid transparent;
}
.item__secondary-picture.chosen {
  border: 2px solid black;
}

.item__name {
  font-family: 'Integral-Bold';
  font-size: 2.5rem;
}

.item__price {
  display: flex;
}
.item__price-current {
  font-family: 'Satoshi-Bold';
  font-size: 2rem;
}
.item__price-old {
  font-family: 'Satoshi-Bold';
  font-size: 2rem;
  margin-left: 12px;
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.3);
}
.item__discount {
  font-family: Satoshi-Regular;
  font-size: 1rem;
  margin: auto auto auto 12px;
  border-radius: 62px;
  background-color: rgba(255, 51, 51, 0.1);
  color: #ff3333;
  width: 72px;
  height: 34px;
  line-height: 34px;
  text-align: center;
}

.item__description {
  font-family: 'Satoshi-Regular';
  color: rgba(0, 0, 0, 0.6);
  margin-top: 8px;
}

.item__colors__title {
  margin-top: 20px;
  font-family: 'Satoshi-Regular';
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
}
.item__colors__list {
  display: flex;
  margin-top: 12px;
}
.item__available-colors {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  margin-right: 16px;
  border: 1px solid black;
  cursor: pointer;
}
.item__available-colors.selected {
  background-image: url('/public/assets/icons/ChosenTickIcon.svg');
  background-position: center;
  background-repeat: no-repeat;
}
.multicolor-image {
  background-image: url('/public/assets/images/multicolor.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.multicolor-selected {
  background-image: url('/public/assets/icons/ChosenTickIcon.svg'),
    url('/public/assets/images/multicolor.png');
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  background-size: 63%, contain;
}

.item__size__title {
  margin-top: 20px;
  font-family: 'Satoshi-Regular';
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
}
.item__size__list {
  display: flex;
  margin-top: 16px;
}
.item__size__button {
  margin-right: 12px;
  font-family: 'Satoshi-Regular';
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  padding: 12px 24px;
  background-color: #f0f0f0;
  border-radius: 30px;
  cursor: pointer;
}

.item__cart {
  display: flex;
}
.item__cart-quantity {
  font-family: 'Sans-serif';
  position: relative;
  display: flex;
  margin-top: 20px;
  width: 130px;
  min-width: 110px;
  max-width: 200px;
  height: 52px;
  justify-content: space-between;
  align-items: center;
  padding: 0px 16px;
  background-color: #f0f0f0;
  border-radius: 30px;
}
.item__cart-quantity--number {
  font-family: 'Arial';
  font-weight: 500;
}
.item__cart-possible-quantity {
  display: inline-flex;
  position: absolute;
  font-family: 'Arial';
  font-size: 12px;
  color: rgb(128, 128, 128, 0.6);
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-weight: bold;
}
.item__cart-possible-quantity__span {
  font-family: 'Arial';
}

.chosen-size-highlighted {
  background-color: #000;
  color: #fff;
}

.item__colors__button {
  position: relative;
}

.item__cart-button {
  margin-top: auto;
  margin-left: 20px;
  color: white;
  background-color: #000;
  height: 52px;
  line-height: 52px;
  width: 400px;
  border-radius: 40px;
  text-align: center;
}

/*  */
.tabs__list {
  display: flex;
  justify-content: space-evenly;
  height: 62px;
  line-height: 62px;
  width: 100%;
}
