/* PC view */
@media (min-width: 1127px) {
  /* Tabs menu */
  .tabs__list__tab {
    font-family: 'Satoshi-Regular';
    font-size: 20px;
    height: 60px;
  }

  /* Details tab */
  .details-tab__table {
    width: 100%;
    text-align: left;
    margin: 30px 50px;
  }
  .details-tab__table-header {
    width: 33%;
    padding: 10px 20px;
  }
  .details-tab__table-data {
    padding: 10px 20px;
  }
  .details-tab__container {
    display: flex;
  }
  .details-tab__photos {
    margin: 30px 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .details-tab__photo {
    max-height: 500px;
    border-radius: 50px;
  }

  /* Reviews tab */
  .reviews__menu {
    padding: 0 30px;
  }
  .reviews-menu__title {
    font-size: 24px;
  }
  .reviews__card {
    width: calc(33% - 20px);
  }
  .top__section {
    display: flex;
    flex-direction: row;
  }
  .sorting__dropdown-menu {
    width: 120px;
    padding: 12px 20px;
    font-size: 18px;
  }
  .sorting__dropdown-menu__options {
    width: 120px;
    top: 54px;
    left: 0px;
    gap: 10px;
    padding: 8px 0px;
  }
  .reviews-menu__write-button {
    padding: 12px 28px;
    font-size: 18px;
  }

  /* Gallery */
  .item__gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 35%;
    max-height: 640px;
    gap: 10px;
  }
  .secondary-pictures {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 24%;
  }
  .main-picture {
    max-width: 76%;
  }
  .item__main-picture {
    object-fit: contain;
    max-height: 640px;
  }
  .item__secondary-picture {
    object-fit: contain;
    max-height: 207px;
  }
  .item__interactive-menu {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  /* Related items */
  .relevant-products__title {
    font-size: 48px;
  }
}

/* Tablet view */
@media (min-width: 745px) and (max-width: 1126px) {
  /* Tabs menu */
  .tabs__list__tab {
    font-family: 'Satoshi-Regular';
    font-size: 20px;
    height: 60px;
  }

  /* Reviews tab */
  .reviews__menu {
    padding: 0 30px;
  }
  .reviews-menu__title {
    font-size: 20px;
  }
  .reviews__card {
    width: calc(50% - 20px);
  }
  .sorting__dropdown-menu {
    width: 120px;
    padding: 8px 20px;
    font-size: 16px;
  }
  .sorting__dropdown-menu__options {
    width: 120px;
    top: 44px;
    left: 0px;
    gap: 10px;
    padding: 8px 0px;
  }
  .reviews-menu__write-button {
    padding: 8px 20px;
  }

  /* Gallery */
  .item__gallery {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;

    width: 100%;
    max-height: 520px;
    gap: 10px;
  }
  .secondary-pictures {
    display: flex;
    flex-direction: row;
    gap: 10px;
    max-width: 100%;
  }
  .main-picture {
    max-width: 100%;
    max-height: 400px;
  }
  .item__main-picture {
    object-fit: contain;
    max-height: 400px;
  }
  .item__secondary-picture {
    object-fit: contain;
    max-width: 50%;
    max-height: 110px;
  }

  .item__interactive-menu {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* PC && Tablet views */
@media (min-width: 745px) {
  /* FAQs tab */
  .FAQ-tab__container {
    padding: 30px 100px;
  }
  .FAQ-tab__question {
    font-size: 24px;
  }
  .FAQ-tab__question-bullet {
    font-size: 30px;
  }
  .FAQ-tab__answer {
    font-size: 18px;
    margin-bottom: 30px;
  }
}

/* Horizontal mobile view */
@media (max-width: 744px) {
  /* Gallery */
  .item__gallery {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;

    width: 100%;
    max-height: 520px;
    gap: 10px;
  }
  .secondary-pictures {
    display: flex;
    flex-direction: row;
    gap: 10px;
    max-width: 100%;
  }
  .main-picture {
    max-width: 100%;
    max-height: 400px;
  }
  .item__main-picture {
    object-fit: contain;
    max-height: 400px;
  }
  .item__secondary-picture {
    object-fit: contain;
    max-width: 50%;
    max-height: 110px;
  }
  .item__interactive-menu {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  /* Tabs menu */
  .tabs__list__tab {
    font-family: 'Satoshi-Regular';
    font-size: 14px;
    height: 50px;
  }

  /* Reviews tab */
  .reviews__menu {
    padding: 0;
  }
  .reviews-menu__title {
    font-size: 16px;
  }
  .reviews__card {
    width: 100%;
  }
  .sorting__dropdown-menu {
    width: 90px;
    padding: 6px 10px;
    font-size: 14px;
  }
  .sorting__dropdown-menu__options {
    width: 90px;
    top: 36px;
    left: -1px;
    gap: 10px;
    padding: 8px 0px;
  }
  .reviews-menu__write-button {
    padding: 6px 10px;
    font-size: 14px;
  }

  /* FAQs tab */
  .FAQ-tab__container {
    padding: 20px 10px;
  }
  .FAQ-tab__question {
    font-size: 20px;
  }
  .FAQ-tab__question-bullet {
    font-size: 26px;
  }
  .FAQ-tab__answer {
    font-size: 16px;
    margin-bottom: 20px;
  }

  /* Related items */
  .relevant-products__title {
    font-size: 28px;
  }
}

/* Mobile && Tablet views */
@media (max-width: 1126px) {
  /* Details tab */
  .details-tab__table {
    width: 100%;
    text-align: left;
  }
  .details-tab__table-header {
    width: 20%;
    padding: 10px 10px;
  }
  .details-tab__table-data {
    padding: 10px 10px;
  }
  .details-tab__photos {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .details-tab__photo {
    max-height: 600px;
    border-radius: 50px;
  }
}

/* All views */
/* Breadcrumbs */
.path__breadcrumbs {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;

  font-family: 'Satoshi-Regular';
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
}
.path__breadcrumb {
  display: flex;
  gap: 10px;
}
.breadcrumb__pointer {
  display: inline-block;
  margin-top: auto;
  margin-bottom: auto;

  transform: rotate(-90deg);
  width: 12px;
  height: 12px;
}

/* Gallery */
.item__main-picture {
  border-radius: 20px;
}
.item__secondary-picture {
  border-radius: 20px;
  cursor: pointer;
  border: 2px solid transparent;
}
.item__secondary-picture.chosen {
  border: 2px solid black;
}

.item__name {
  font-family: 'Integral-Bold';
  font-size: 2.5rem;
}

.item__price {
  display: flex;
}
.item__price-current {
  font-family: 'Satoshi-Bold';
  font-size: 2rem;
}
.item__price-old {
  font-family: 'Satoshi-Bold';
  font-size: 2rem;
  margin-left: 12px;
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.3);
}
.item__discount {
  font-family: Satoshi-Regular;
  font-size: 1rem;
  margin: auto auto auto 12px;
  border-radius: 62px;
  background-color: rgba(255, 51, 51, 0.1);
  color: #ff3333;
  width: 72px;
  height: 34px;
  line-height: 34px;
  text-align: center;
}

.item__description {
  font-family: 'Satoshi-Regular';
  color: rgba(0, 0, 0, 0.6);
  margin-top: 8px;
}

.item__colors__title {
  margin-top: 20px;
  font-family: 'Satoshi-Regular';
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
}
.item__colors__list {
  display: flex;
  margin-top: 12px;
}
.item__available-colors {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  margin-right: 16px;
  border: 1px solid black;
  cursor: pointer;
}
.item__available-colors.selected {
  background-image: url('/public/assets/icons/ChosenTickIcon.svg');
  background-position: center;
  background-repeat: no-repeat;
}
.multicolor-image {
  background-image: url('/public/assets/images/multicolor.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.multicolor-selected {
  background-image: url('/public/assets/icons/ChosenTickIcon.svg'),
    url('/public/assets/images/multicolor.png');
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  background-size: 63%, contain;
}

.item__size__title {
  margin-top: 20px;
  font-family: 'Satoshi-Regular';
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
}
.item__size__list {
  display: flex;
  margin-top: 16px;
}
.item__size__button {
  margin-right: 12px;
  font-family: 'Satoshi-Regular';
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  padding: 12px 24px;
  background-color: #f0f0f0;
  border-radius: 30px;
  cursor: pointer;
}

.item__cart {
  display: flex;
}
.item__cart-quantity {
  font-family: 'Sans-serif';
  position: relative;
  display: flex;
  margin-top: 20px;
  width: 130px;
  min-width: 110px;
  max-width: 200px;
  height: 52px;
  justify-content: space-between;
  align-items: center;
  padding: 0px 16px;
  background-color: #f0f0f0;
  border-radius: 30px;
}
.item__cart-quantity--number {
  font-family: 'Arial';
  font-weight: 500;
}
.item__cart-possible-quantity {
  display: inline-flex;
  position: absolute;
  font-family: 'Arial';
  font-size: 12px;
  color: rgb(128, 128, 128, 0.6);
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-weight: bold;
}
.item__cart-possible-quantity__span {
  font-family: 'Arial';
}

.chosen-size-highlighted {
  background-color: #000;
  color: #fff;
}

.item__colors__button {
  position: relative;
}

.item__cart-button {
  margin-top: auto;
  margin-left: 20px;
  color: white;
  background-color: #000;
  height: 52px;
  line-height: 52px;
  width: 400px;
  border-radius: 40px;
  text-align: center;
}

/* Tabs menu */
.tabs__list {
  display: flex;
  justify-content: space-evenly;
  line-height: 62px;
  width: 100%;
  margin-top: 50px;
}
.tabs__list__tab {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  width: 33.3334%;
  text-align: center;

  cursor: pointer;

  color: rgba(0, 0, 0, 0.6);
}
.tabs__list__tab.chosen {
  border-bottom: 2px solid black;
  padding-top: 1px;
  color: rgba(0, 0, 0, 1);
}

/* Reviews tab */
.reviews__menu {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reviews-menu__title {
  font-family: 'Satoshi-Bold';
}
.reviews-menu__title__number {
  font-family: 'Satoshi-Regular';
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
}
.reviews-menu__management {
  position: relative;
  font-family: 'Satoshi-Medium';
  display: flex;
  align-items: center;
  gap: 10px;
  text-align: center;
  cursor: pointer;
}
.sorting__dropdown-menu {
  position: relative;
  display: flex;
  user-select: none;

  justify-content: center;
  align-items: center;
  border-radius: 40px;
  background-color: #f0f0f0;

  font-family: 'Satoshi-Medium';
  text-align: center;
  cursor: pointer;
}
.sorting__dropdown-arrow {
  margin-left: 6px;
  width: 12px;
  height: 12px;

  transform: rotate(0deg);
  transition: transform 0.2s;
}
.sorting__dropdown-arrow.active {
  transform: rotate(180deg);
}
.sorting__dropdown-menu__options {
  position: absolute;
  border-radius: 20px;

  display: flex;
  flex-direction: column;

  background-color: #f0f0f0;
  border: 1px solid black;
}
.reviews-menu__write-button {
  user-select: none;
  border-radius: 40px;
  background-color: black;
  color: white;
}

.reviews__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

  /* margin-top: 30px; */

  align-items: flex-start;
}
.reviews__card {
  display: flex;
  flex-direction: column;

  min-width: 338px;
  max-width: 610px;

  padding: 18px 28px;
  border-radius: 30px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);

  flex-grow: 0;
  align-self: flex-start;
}
.review__card-collapsed {
  height: 264px;
}
.reviews__card__stars {
  margin-left: -4px;
}
.reviews__card__text {
  font-family: 'Satoshi-Regular';
  font-size: 16px;

  overflow: hidden;
  text-overflow: ellipsis;
}
.reviews__card__text-collapsed {
  display: -webkit-box;
  line-clamp: 4;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.reviews__card__text-expanded {
  display: block;
  height: auto;
}

.reviews__full-review {
  cursor: pointer;
  text-align: center;
  color: #0353f4;
}
.reviews__card__date {
  margin-top: auto;
  margin-bottom: 0;

  font-family: 'Satoshi-Medium';
  font-size: 16px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.6);
}
.reviews__pages {
  margin-top: 30px;
  display: flex;
  gap: 14px;
  align-items: center;
  justify-content: center;
  user-select: none;
}
.reviews__previous-page {
  transform: rotate(180deg);

  width: 40px;
  height: 40px;

  cursor: pointer;
}
.reviews__current-page {
  font-size: 30px;
  width: 50px;
  height: 50px;
  text-align: center;
  background-color: #f0f0f0;
  border-radius: 20px;
}
.reviews__next-page {
  width: 40px;
  height: 40px;

  cursor: pointer;
}

/* Details tab */
.details-tab__table {
  border-collapse: collapse;
}
.details-tab__table-header {
  border-bottom: 1px solid #ddd;
  font-family: 'Satoshi-Medium';
}
.details-tab__table-data {
  border-bottom: 1px solid #ddd;
  font-family: 'Satoshi-Regular';
}
.table-data__link {
  margin-top: 10px;
  color: #0353f4;
  cursor: pointer;
}

/* FAQs tab */

.FAQ-tab__question {
  font-family: 'Satoshi-Bold';
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}
.FAQ-tab__question:hover {
  color: #007bff;
}
.FAQ-tab__answer {
  font-family: 'Satoshi-Regular';
  color: #555;
}
.FAQ__contact-support {
  color: #007bff;
  cursor: pointer;
}

/* Related items */
.relevant-products__title {
  margin-top: 30px;
  font-family: 'Integral-Bold';
  text-align: center;
}
