/* Mobile view */
@media (min-width: 1px) and (max-width: 425px) {
  .products__title {
    gap: 6px;
  }
  .products__title__text {
    font-size: 20px;
    line-height: 22px;
  }
  .products__title__count {
    font-size: 12px;
    line-height: 22px;
  }
}

/* Tablet view */
@media (min-width: 426px) and (max-width: 931px) {
  .products__title {
    gap: 10px;
  }
  .products__title__text {
    font-size: 22px;
    line-height: 24px;
  }

  .products__title__count {
    font-size: 14px;
    line-height: 24px;
  }
}
/* Mobile and Tablet view */
@media (min-width: 1px) and (max-width: 931px) {
  /* Overlay */
  .shop__modal__overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 120;
    background: rgba(0, 0, 0, 0.25);
    pointer-events: none;
  }
  .shop__modal__overlay.active {
    opacity: 1;
    pointer-events: all;
  }

  /* Filters */

  .shop__filters {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 90vw;
    max-width: 360px;
    height: 90vh;

    background-color: white;
    justify-content: center;
    align-items: center;
    z-index: 120;

    overflow: auto;
  }
  .shop__filters.opened {
    display: block;
  }
  .shop__filters::-webkit-scrollbar-track {
    margin: 10px 0;
    background-color: rgb(229, 229, 229);
  }
  .filters__mobile__close-button {
    display: flex;
    margin: 20px auto;
    justify-content: center;
    border: 1px solid var(--border-default-color);
    border-radius: 20px;
    padding: 6px 10px;
    max-width: 140px;
  }
  .mobile-horizontal-separator {
    display: block;
  }

  /* Gallery */

  .sorting__modal__container {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;

    width: 90vw;
    max-width: 360px;
    max-height: 90vh;
    padding: 20px 10px;

    background-color: white;
    justify-content: center;
    align-items: center;
    z-index: 120;

    overflow: auto;
  }
  .sorting__modal__container::-webkit-scrollbar-track {
    margin: 10px 0;
    background-color: rgb(229, 229, 229);
  }
  .sorting__modal__title {
    font-family: 'Satoshi-Bold';
    text-align: center;
    font-size: 20px;

    margin-bottom: 16px;
  }
  .sorting__modal__options {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .sorting__modal__option {
    display: flex;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    padding: 4px 10px;
  }
  .sorting__modal__option.checked {
    border: 1px solid var(--border-default-color);
  }
  .modal__option__checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    border: 0.15em solid #bdbdbd;
    border-radius: 50%;
    background-color: white;
    transition: border-color 0.2s ease;
    margin-left: auto;
  }
  .modal__option__checkbox::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: scale(0);
    transition: transform 120ms ease-in-out;
    /* background-color: var(--active-action-secondary); */
    background-color: black;
    margin: auto;
  }
  .modal__option__checkbox.checked {
    /* border-color: var(--active-action-secondary); */
    border-color: black;
  }
  .modal__option__checkbox.checked::before {
    transform: scale(1);
  }
  .modal__close-button {
    display: block;
    border: 1px solid var(--border-default-color);
    border-radius: 16px;
    padding: 8px 20px;
    margin: 20px auto auto auto;
  }

  .products__title-sorting {
    display: none;
  }
  .products__title-mobile-sorting {
    margin-left: auto;
  }
  .products__title-mobile-filters {
    display: inline-block;
    position: relative;
    cursor: pointer;
  }
  .sorting__icon {
    width: 36px;
    height: 36px;
  }
  .filters__icon {
    margin-left: auto;
    width: 36px;
    height: 36px;
  }
}
/* PC view */
@media (min-width: 932px) {
  /* Filters */
  .shop__filters__container {
    flex: 21;
  }
  .shop__filters {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
  }
  .filters__mobile__close-button {
    display: none;
  }

  .mobile-horizontal-separator {
    display: none;
  }

  /* Gallery */
  .shop-gallery {
    display: flex;
  }
  .shop__products {
    flex: 79;
  }

  .products__title {
    gap: 24px;
  }
  .products__title__text {
    font-size: 32px;
    flex-grow: 1;
  }
  .products__title__count {
    font-size: 14px;
    line-height: 24px;
  }
  .products__title-sorting {
    display: flex;
    gap: 6px;
    align-items: center;
  }
  .products__title-mobile-sorting {
    display: none;
  }
  .products__title-mobile-filters {
    display: none;
  }
}

/* Filters */
.shop__filters {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 14px;
}
.filters__title-text {
  font-family: 'Satoshi-Bold';
  text-align: center;
  font-size: 20px;

  margin: auto;
}
.filters__title-icon__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-right: 7px;
}
.filters__title-icon {
  transform: rotate(0deg);
  transition: transform 0.3s ease-out;
}
.filters__title-icon.rotated {
  transform: rotate(180deg);
}
.filters__list {
  overflow: auto;
  margin: 0px;
  padding: 0px;
  max-height: 0px;
  opacity: 0;
  transition:
    max-height 0.3s ease-out,
    padding 0.3s ease-out,
    opacity 0.3s ease-out;
}
.filters__list.opened {
  padding: 7px;
  max-height: 228px;
  opacity: 1;
}

.filters__reset-button {
  border: 1px solid var(--border-default-color);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  margin: 14px auto;
  padding: 6px 20px;
  user-select: none;
  cursor: pointer;
}

/* Gallery */

.products__title {
  height: 36px;
  display: flex;
  align-items: baseline;
}
.products__title__text {
  font-family: 'Satoshi-Bold';
}
.products__title__count {
  font-family: 'Satoshi-Regular';
  color: var(--border-default-color);
}
.products__title-sorting {
  font-family: 'Satoshi-Regular';
}
.title-sorting__text {
  color: var(--border-default-color);
}
.title-sorting__parameter__container {
  width: 150px;
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  cursor: pointer;
  user-select: none;
}
.title-soting__parameter {
  color: black;
  font-family: 'Satoshi-Regular';
}
.sorting__dropdown {
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  top: 24px;
  left: -24px;
  background-color: rgb(224, 224, 224);
  padding: 4px 10px 4px 10px;
  border-radius: 10px;
  width: 180px;
}
.sorting-option.highlighted {
  padding: 2px 10px;
  color: #333;
  background-color: rgb(161, 161, 161);
  border-radius: 10px;
}

.products__gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin: 24px;
}
.proucts__gallery__item {
  max-width: 310px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.item__image {
  height: 413px;
  object-fit: contain;
  border-radius: 1rem;
  user-select: none;
  background-color: #f1f1f1;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.item__title {
  font-family: 'Satoshi-Bold';
  font-size: 20px;
  margin-top: 6px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.item__stars {
  margin-top: 2px;
}
.item__price {
  display: flex;
  align-items: center;
  margin-top: 2px;
}
.item__price-current {
  font-family: 'Satoshi-Bold';
  font-size: 24px;
}
.item__price-previous {
  font-family: 'Satoshi-Bold';
  font-size: 24px;
  color: rgba(0, 0, 0, 0.2);
  text-decoration: line-through;

  margin-left: 8px;
}
.item__price-discount {
  font-family: 'Satoshi-Regular';
  font-size: 16px;
  color: #ff3333;

  padding: 6px 13px;
  border-radius: 62px;
  background-color: rgba(255, 51, 51, 0.1);

  margin-left: 8px;
}

.products__pagination {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 40px;
}
.pagination__navigate-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 10px;
  width: 110px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;

  font-family: 'Satoshi-Regular';
  font-size: 16px;

  user-select: none;
  cursor: pointer;
}
.previous-page__icon {
  transform: rotate(180deg);
}
.pagination__pages {
  font-size: 30px;
  padding: 0px 5px;
  min-width: 50px;
  height: 50px;
  text-align: center;
  background-color: #f0f0f0;
  border-radius: 20px;
}

.filters__section__title {
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.filters__children__title-text {
  font-family: 'Satoshi-Bold';
  font-size: 20px;
}
.filters__sizes__title-icon {
  height: 10px;
}

.filters__list {
  max-height: auto;
}
.filters__list.collapsed {
  max-height: 0;
}
