/* Mobile view */
@media (min-width: 1px) and (max-width: 425px) {
}

/* Mobile and Tablet view */
@media (min-width: 1px) and (max-width: 931px) {
  /* Filters */
  .shop__filters {
    display: none;
  }

  /* Gallery */
  .products__title {
    gap: 10px;
  }
  .products__title__text {
    font-size: 22px;
    line-height: 24px;
  }
  .products__title__count {
    font-size: 14px;
    line-height: 24px;
  }
  .products__title-sorting {
    display: none;
  }
  .products__title-mobile-sorting {
    flex-grow: 1;
  }
  .filters__icon {
    width: 36px;
    height: 36px;
    margin-left: auto;
  }
}
/* PC view */
@media (min-width: 932px) {
  /* Filters */
  .shop__filters__container {
    flex: 21;
  }
  .shop__filters {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
  }

  /* Gallery */
  .shop-gallery {
    display: flex;
  }
  .shop__products {
    flex: 79;
  }

  .products__title {
    gap: 24px;
  }
  .products__title__text {
    font-size: 32px;

    flex-grow: 1;
  }
  .products__title-sorting {
    display: flex;
    gap: 6px;
    align-items: center;
  }
  .products__title-mobile-sorting {
    display: none;
  }
}

/* Filters */
.shop__filters {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 14px;
}
.filters__title-text {
  text-align: center;
  font-family: 'Satoshi-Bold';
  font-size: 20px;

  margin: auto auto auto auto;
}

.filters__reset-button {
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  margin: 14px auto;
  padding: 6px 20px;
  user-select: none;
  cursor: pointer;
}

/* Gallery */

.products__title {
  height: 36px;
  display: flex;
  align-items: baseline;
}
.products__title__text {
  font-family: 'Satoshi-Bold';
}
.products__title__count {
  font-family: 'Satoshi-Regular';
  color: rgba(0, 0, 0, 0.6);
}
.products__title-sorting {
  font-family: 'Satoshi-Regular';
}
.title-sorting__text {
  color: rgba(0, 0, 0, 0.6);
}
.title-soting__parameter {
  color: black;
}

.products__gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin: 24px;
}
.proucts__gallery__item {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.item__image {
  width: 310px;
  height: 260px;
  object-fit: cover;
  border-radius: 1rem;
  user-select: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.item__title {
  font-family: 'Satoshi-Bold';
  font-size: 20px;
  margin-top: 6px;
}
.item__stars {
  margin-top: 2px;
}
.item__price {
  display: flex;
  align-items: center;
  margin-top: 2px;
}
.item__price-current {
  font-family: 'Satoshi-Bold';
  font-size: 24px;
}
.item__price-previous {
  font-family: 'Satoshi-Bold';
  font-size: 24px;
  color: rgba(0, 0, 0, 0.2);
  text-decoration: line-through;

  margin-left: 8px;
}
.item__price-discount {
  font-family: 'Satoshi-Regular';
  font-size: 16px;
  color: #ff3333;

  padding: 6px 13px;
  border-radius: 62px;
  background-color: rgba(255, 51, 51, 0.1);

  margin-left: 8px;
}

.products__pagination {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 40px;
}
.pagination__navigate-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 10px;
  width: 110px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;

  font-family: 'Satoshi-Regular';
  font-size: 16px;

  user-select: none;
  cursor: pointer;
}
.previous-page__icon {
  transform: rotate(180deg);
}
.pagination__pages {
  font-size: 30px;
  padding: 0px 5px;
  min-width: 50px;
  height: 50px;
  text-align: center;
  background-color: #f0f0f0;
  border-radius: 20px;
}

.filters__categories__title,
.filters__colors__title,
.filters__sizes__title,
.filters__dress-style__title,
.filters__clothing-type__title,
.filters__brands__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 14px;
}
.filters__children__title-text {
  font-family: 'Satoshi-Bold';
  font-size: 20px;
}
.filters__sizes__title-icon {
  height: 10px;
}

.filters__list {
  max-height: auto;
}
.filters__list.collapsed {
  max-height: 0;
}

/* Screen while items are being fetched */
.waiting-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  backdrop-filter: blur(5px);
  transition: opacity 0.3s ease-in-out;
  pointer-events: all; /* Block all interactions */
}
.loader {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(255, 255, 255, 0.3);
  border-top: 5px solid white;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body.no-scroll {
  overflow: hidden;
}
