* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:root {
  --btn-primary-bg-default: rgba(0, 0, 0, 1);
  --btn-primary-bg-hover: rgba(0, 0, 0, 0.8);
  --btn-primary-bg-active: rgba(0, 0, 0, 0.7);
  --btn-primary-bg-disabled-hover: rgba(255, 51, 51, 0.7);
  --btn-primary-bg-disabled-active: rgba(255, 51, 51, 1);

  --btn-secondary-bg-default: #ffffff;
  --btn-secondary-bg-hover: #f2f2f2;
  --btn-secondary-bg-active: #dbdbdb;
  --btn-secondary-bg-disabled: ;

  --btn-secondary-text-active: #007bff;

  --border-default-color: rgba(0, 0, 0, 0.6);
  --border-thin-color: rgba(0, 0, 0, 0.1);

  --background-primary-color-one: #ffffff;
  --background-primary-color-two: #f2f2f2;
  --background-secondary-color-one: #000000;
}

@media (min-width: 769px) {
  .no-scroll {
    overflow: hidden;
    margin-right: 8px;
  }
}

.website {
  position: relative;
  max-width: 100vw;
  box-sizing: border-box;
}

.modal_overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 120;
  background: rgba(0, 0, 0, 0.25);
  /* background: rgba(0, 0, 0, 0.7); */
  pointer-events: none;
}
.modal_overlay.active {
  opacity: 1;
  pointer-events: all;
}

.native-overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 120;
  background: rgba(0, 0, 0, 0.25);
  /* background: rgba(0, 0, 0, 0.7); */
  pointer-events: none;
}
.native-overlay.active {
  opacity: 1;
  pointer-events: all;
}

.button-border {
  border: 1px solid var(--btn-primary-bg-default);
}

.horizontal-separator-90 {
  width: 90%;
  height: 1px;
  border-top: solid 1px var(--btn-primary-bg-default);
  margin-left: auto;
  margin-right: auto;
}

.horizontal-separator-100 {
  width: 100%;
  height: 1px;
  border-top: solid 1px var(--btn-primary-bg-default);
  margin-left: auto;
  margin-right: auto;
}

/* Scrollbar starts */
/* WebKit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: #b2b2b2;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #7f7f7f;
}
::-webkit-scrollbar-thumb:active {
  background: #414141;
}
/* IE and Edge */
body {
  -ms-overflow-style: none;
}
body::-webkit-scrollbar {
  display: block;
}
/* Scrollbar ends */
/* Waiting screen while items are being fetched */
.waiting-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.01);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  backdrop-filter: blur(3px);
  transition: opacity 0.3s ease;
  pointer-events: all;
}
.waiting-screen-local {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: center;

  /* border-radius: 20px; */
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);

  z-index: 999;
  pointer-events: all;
  transition: opacity 0.3s ease;
}
.loader {
  width: 60px;
  height: 60px;
  border: 5px solid rgba(133, 133, 133, 0.3);
  border-top: 5px solid var(--btn-secondary-text-active);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cursor-grabbing {
  cursor: grabbing !important;
}
