@media screen and (min-width: 1px) and (max-width: 481px) {
  .home-description__stat-block:first-child::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 1px;
    background: rgba(0, 0, 0, 0.1);
    height: 100%;
  }
}
@media screen and (min-width: 482px) {
  .home-description__stat-block:not(:last-child)::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 1px;
    background: rgba(0, 0, 0, 0.1);
    height: 100%;
  }
}

.home-description {
  width: 100vw;
  /* height: 663px; */
  background-color: #f2f0f1;
}

.top-menu__logo {
  margin-top: 0px;
}

.home-description__stat-block {
  height: 52px;
  width: 150px;
  position: relative;
}

.popular-brands__certain-brand {
  flex: 1 1 calc(25% - 20px);
  max-width: 27%;
  aspect-ratio: 1.5;
  object-fit: contain;
  height: auto;
  max-height: calc(8vw);
}

.home-description__background--image {
  /* background-image: url('https://i.imgur.com/Mea753h.png'); */
  max-width: 100vw;
  /* min-height: 448px; */
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
}
.home-description__background--big-star {
  right: 0;
  max-width: 20vw;
  aspect-ratio: 1;
}
.home-description__background--small-star {
  top: 20vw;
  left: 0;
  max-width: 10vw;
  aspect-ratio: 1;
}

.reviews__cards-container {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  width: 100%;
}
.reviews__cards {
  overflow-x: auto;
  display: flex;
  flex-wrap: nowrap;
  width: max-content;
}

.reviews__card {
  scroll-snap-align: center;
}
