/* fonts available */

@font-face {
  font-family: 'Integral-Regular';
  src: url(/assets/fonts/Integral/IntegralCF-Regular.ttf) format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Integral-Bold';
  src: url(/assets/fonts/Integral/IntegralCF-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Integral-ExtraBold';
  src: url(/assets/fonts/Integral/IntegralCF-ExtraBold.ttf) format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi-Light';
  src: url(/assets/fonts/Satoshi/Satoshi-Light.otf) format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi-Regular';
  src: url(/assets/fonts/Satoshi/Satoshi-Regular.otf) format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi-Medium';
  src: url(/assets/fonts/Satoshi/Satoshi-Medium.otf) format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi-Bold';
  src: url(/assets/fonts/Satoshi/Satoshi-Bold.otf) format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* .font1 {
} */

.IntegralBold {
  font-family: 'Integral-Bold';
  font-style: normal;
  font-weight: 600;
}
.IntergralExtraBold {
  font-family: 'Integral-ExtraBold';
  font-style: normal;
  font-weight: 900;
}

.SatoshiRegular {
  font-family: 'Satoshi-Regular';
  font-style: normal;
}

.SatoshiBold {
  font-family: 'Satoshi-Bold';
  font-style: normal;
}

.SatoshiLight {
  font-family: 'Satoshi-Light';
  font-style: normal;
}
