@media screen and (min-width: 1px) and (max-width: 481px) {
  .description__interactive-block:first-child::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 1px;
    background: rgba(0, 0, 0, 0.1);
    height: 100%;
  }
}
@media screen and (min-width: 482px) {
  .description__interactive-block:not(:last-child)::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 1px;
    background: rgba(0, 0, 0, 0.1);
    height: 100%;
  }
}

.home-description {
  width: 100vw;
  /* height: 663px; */
  background-color: #f2f0f1;
}

.top-menu__logo {
  margin-top: 0px;
}

.description__interactive-block {
  height: 52px;
  width: 150px;
  position: relative;
}

.popular-brands__certain-brand {
  /* max-width: 27%; */
  /* min-height: 38px; */
}
