/* font2 available */

.font1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #bdbdbd;
}

.font2 {
  /* font-family: ''; */
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 64px;
  color: #000;
}
