* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:root {
  --btn-primary-bg-default-color: #000;
  --btn-primary-bg-hover-color: ;
  --btn-primary-bg-active-color: ;
  --btn-primary-bg-disabled-color: rgba(255, 51, 51, 0.1);

  --btn-secondary-bg-default-color: #f2f0f1;
  --btn-secondary-bg-hover-color: ;
  --btn-secondary-bg-hover-shadow: ;
  --btn-secondary-bg-active-color: ;
}

.website {
  position: relative;
  max-width: 100vw;
  box-sizing: border-box;
}

.modal_overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 120;
  background: rgba(0, 0, 0, 0.25);
  /* background: rgba(0, 0, 0, 0.7); */
  pointer-events: none;
}
.modal_overlay.active {
  opacity: 1;
  pointer-events: all;
}

.button-border {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.horizontal-separator-90 {
  width: 90%;
  height: 1px;
  border-top: solid 1px rgba(0, 0, 0, 0.1);
  margin-left: auto;
  margin-right: auto;
}

.horizontal-separator-100 {
  width: 100%;
  height: 1px;
  border-top: solid 1px rgba(0, 0, 0, 0.1);
  margin-left: auto;
  margin-right: auto;
}
